## NEW Work ##

In [1]:
import pandas as pd

# Load the datasets
featured_data = pd.read_csv('EPL_Data_featured.csv')
odds_data = pd.read_csv('/Users/lkimball/Desktop/Flatiron/CapstoneProject/Odds_data/EPL_Odds_data.csv')

In [2]:
featured_data

,season,week,date,home_team,home_xg,score,away_xg,away_team,referee,game_id,...,away_goals_scored_to_date,home_goals_conceded_to_date,away_goals_conceded_to_date,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result
0,1920,1,2019-08-09,liverpool,1.8,4-1,0.9,norwich city,Michael Oliver,928467bd,...,0,0,0,3,0,0,0,0.0,0.0,0
1,1920,1,2019-08-10,bournemouth,1.3,1-1,1.3,sheffield utd,Kevin Friend,d402cacd,...,0,0,0,1,1,0,0,0.0,0.0,1
2,1920,1,2019-08-10,burnley,0.9,3-0,1.2,southampton,Graham Scott,34b99058,...,0,0,0,3,0,0,0,0.0,0.0,0
3,1920,1,2019-08-10,crystal palace,0.9,0-0,1.1,everton,Jonathan Moss,a802f51e,...,0,0,0,1,1,0,0,0.0,0.0,1
4,1920,1,2019-08-10,tottenham,2.4,3-1,0.7,aston villa,Chris Kavanagh,404ee5d3,...,0,0,0,3,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2324,38,2024-05-19,crystal palace,2.5,5-0,0.9,aston villa,Darren Bond,c975c7a6,...,76,58,56,3,0,46,68,2.6,1.6,0
1896,2324,38,2024-05-19,liverpool,4.5,2-0,0.5,wolves,Chris Kavanagh,d4823ed5,...,50,41,63,3,0,79,46,1.6,0.6,0
1897,2324,38,2024-05-19,luton town,2.0,2-4,1.1,fulham,Matt Donohue,0fde9d70,...,51,81,59,0,3,26,44,0.2,1.0,2
1898,2324,38,2024-05-19,manchester city,1.9,3-1,0.4,west ham,John Brooks,29335211,...,59,33,71,3,0,88,52,3.0,0.8,0
1899,2324,38,2024-05-19,sheffield utd,1.0,0-3,3.1,tottenham,Andy Madley,273a89b4,...,71,101,61,0,3,16,63,0.0,0.6,2

In [3]:
odds_data

,League Division,Match Date,Home Team,Away Team,Bet365 Home Win Odds,Bet365 Draw Odds,Bet365 Away Win Odds,Pinnacle Home Win Odds,Pinnacle Draw Odds,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,E0,11/08/2017,Arsenal,Leicester,1.53,4.50,6.50,1.53,4.55,6.85,1.53,4.2,6.00,1.53,4.50,6.50,1.49,4.73,7.25
1,E0,12/08/2017,Brighton,Man City,11.00,5.50,1.33,10.95,5.55,1.34,10.00,4.8,1.33,10.00,5.50,1.33,11.75,6.15,1.29
2,E0,12/08/2017,Chelsea,Burnley,1.25,6.50,15.00,1.26,6.30,15.25,1.25,5.5,13.00,1.25,6.25,15.00,1.33,5.40,12.25
3,E0,12/08/2017,Crystal Palace,Huddersfield,1.83,3.60,5.00,1.83,3.58,5.11,1.80,3.3,5.00,1.83,3.60,5.00,1.79,3.56,5.51
4,E0,12/08/2017,Everton,Stoke,1.70,3.80,5.75,1.70,3.83,5.81,1.70,3.5,5.50,1.70,3.80,5.75,1.82,3.49,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,E0,19/05/2024,Crystal Palace,Aston Villa,1.85,4.33,3.60,1.83,4.37,3.74,1.85,4.2,3.50,1.80,4.00,3.70,1.63,4.64,4.99
2656,E0,19/05/2024,Liverpool,Wolves,1.17,8.00,15.00,1.16,9.27,13.56,1.14,8.5,15.00,1.13,8.00,15.00,1.13,10.69,16.27
2657,E0,19/05/2024,Luton,Fulham,2.90,3.90,2.20,2.93,3.92,2.26,2.80,4.0,2.20,2.88,3.75,2.20,3.11,3.99,2.19
2658,E0,19/05/2024,Man City,West Ham,1.08,12.00,21.00,1.09,13.11,20.39,1.07,12.0,21.00,1.07,10.50,22.00,1.07,15.01,27.84
2659,E0,19/05/2024,Sheffield United,Tottenham,7.00,6.00,1.33,7.16,6.00,1.35,7.50,6.0,1.30,7.50,5.75,1.30,7.99,6.11,1.35

In [4]:
# Display unique team names in both datasets
featured_teams = pd.unique(featured_data[['home_team', 'away_team']].values.ravel('K'))
odds_teams = pd.unique(odds_data[['Home Team', 'Away Team']].values.ravel('K'))

print("Featured Data Teams:")
print(sorted(featured_teams))

print("\nOdds Data Teams:")
print(sorted(odds_teams))

Featured Data Teams:
['arsenal', 'aston villa', 'bournemouth', 'brentford', 'brighton', 'burnley', 'chelsea', 'crystal palace', 'everton', 'fulham', 'leeds united', 'leicester city', 'liverpool', 'luton town', 'manchester city', 'manchester utd', 'newcastle utd', 'norwich city', "nott'ham forest", 'sheffield utd', 'southampton', 'tottenham', 'watford', 'west brom', 'west ham', 'wolves']

Odds Data Teams:
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leeds', 'Leicester', 'Liverpool', 'Luton', 'Man City', 'Man United', 'Newcastle', 'Norwich', "Nott'm Forest", 'Sheffield United', 'Southampton', 'Stoke', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves']

In [5]:
team_name_mapping = {
    'Arsenal': 'arsenal',
    'Aston Villa': 'aston villa',
    'Bournemouth': 'bournemouth',
    'Brentford': 'brentford',
    'Brighton': 'brighton',
    'Burnley': 'burnley',
    'Cardiff': 'cardiff city',
    'Chelsea': 'chelsea',
    'Crystal Palace': 'crystal palace',
    'Everton': 'everton',
    'Fulham': 'fulham',
    'Huddersfield': 'huddersfield',
    'Leeds': 'leeds united',
    'Leicester': 'leicester city',
    'Liverpool': 'liverpool',
    'Luton': 'luton town',
    'Man City': 'manchester city',
    'Man United': 'manchester utd',
    'Newcastle': 'newcastle utd',
    'Norwich': 'norwich city',
    "Nott'm Forest": "nott'ham forest",
    'Sheffield United': 'sheffield utd',
    'Southampton': 'southampton',
    'Tottenham': 'tottenham',
    'Watford': 'watford',
    'West Brom': 'west brom',
    'West Ham': 'west ham',
    'Wolves': 'wolves'
}

In [6]:
# Apply the mapping to standardize team names in odds_data
odds_data['home_team'] = odds_data['Home Team'].replace(team_name_mapping)
odds_data['away_team'] = odds_data['Away Team'].replace(team_name_mapping)

# Verify that the teams now match
odds_teams_mapped = pd.unique(odds_data[['home_team', 'away_team']].values.ravel('K'))
print("\nMapped Odds Data Teams:")
print(sorted(odds_teams_mapped))

Mapped Odds Data Teams:
['Stoke', 'Swansea', 'arsenal', 'aston villa', 'bournemouth', 'brentford', 'brighton', 'burnley', 'cardiff city', 'chelsea', 'crystal palace', 'everton', 'fulham', 'huddersfield', 'leeds united', 'leicester city', 'liverpool', 'luton town', 'manchester city', 'manchester utd', 'newcastle utd', 'norwich city', "nott'ham forest", 'sheffield utd', 'southampton', 'tottenham', 'watford', 'west brom', 'west ham', 'wolves']

In [7]:
featured_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   season                       1900 non-null   int64
 1   week                         1900 non-null   int64
 2   date                         1900 non-null   object
 3   home_team                    1900 non-null   object
 4   home_xg                      1900 non-null   float64
 5   score                        1900 non-null   object
 6   away_xg                      1900 non-null   float64
 7   away_team                    1900 non-null   object
 8   referee                      1900 non-null   object
 9   game_id                      1900 non-null   object
 10  home_team_elo                1900 non-null   float64
 11  away_team_elo                1900 non-null   float64
 12  home_starters                1900 non-null   object
 13  away_starters                1900 non-null   object
 14  home_team_strength           1900 non-null   float64
 15  away_team_strength           1900 non-null   float64
 16  home_xG_to_date              1900 non-null   float64
 17  away_xG_to_date              1900 non-null   float64
 18  home_xG_against_to_date      1900 non-null   float64
 19  away_xG_against_to_date      1900 non-null   float64
 20  home_goals_scored            1900 non-null   int64
 21  away_goals_scored            1900 non-null   int64
 22  home_goals_scored_to_date    1900 non-null   int64
 23  away_goals_scored_to_date    1900 non-null   int64
 24  home_goals_conceded_to_date  1900 non-null   int64
 25  away_goals_conceded_to_date  1900 non-null   int64
 26  home_match_points            1900 non-null   int64
 27  away_match_points            1900 non-null   int64
 28  home_points_to_date          1900 non-null   int64
 29  away_points_to_date          1900 non-null   int64
 30  home_form                    1900 non-null   float64
 31  away_form                    1900 non-null   float64
 32  match_result                 1900 non-null   int64
dtypes: float64(12), int64(13), object(8)
memory usage: 490.0+ KB

In [8]:
odds_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   League Division                 2660 non-null   object
 1   Match Date                      2660 non-null   object
 2   Home Team                       2660 non-null   object
 3   Away Team                       2660 non-null   object
 4   Bet365 Home Win Odds            2660 non-null   float64
 5   Bet365 Draw Odds                2660 non-null   float64
 6   Bet365 Away Win Odds            2660 non-null   float64
 7   Pinnacle Home Win Odds          2660 non-null   float64
 8   Pinnacle Draw Odds              2660 non-null   float64
 9   Pinnacle Away Win Odds          2660 non-null   float64
 10  William Hill Home Win Odds      2660 non-null   float64
 11  William Hill Draw Odds          2660 non-null   float64
 12  William Hill Away Win Odds      2660 non-null   float64
 13  VC Bet Home Win Odds            2660 non-null   float64
 14  VC Bet Draw Odds                2660 non-null   float64
 15  VC Bet Away Win Odds            2660 non-null   float64
 16  Pinnacle Closing Home Win Odds  2660 non-null   float64
 17  Pinnacle Closing Draw Odds      2660 non-null   float64
 18  Pinnacle Closing Away Win Odds  2660 non-null   float64
 19  home_team                       2660 non-null   object
 20  away_team                       2660 non-null   object
dtypes: float64(15), object(6)
memory usage: 436.5+ KB

In [9]:
# Rename the date column in both datasets if necessary
featured_data = featured_data.rename(columns={'date': 'date'})
odds_data = odds_data.rename(columns={'Match Date': 'date'})

In [10]:
# Convert the date column in odds_data to datetime format with the correct format
odds_data['date'] = pd.to_datetime(odds_data['date'], format='%d/%m/%Y')

# Convert the date column in featured_data to datetime format (if not already done)
featured_data['date'] = pd.to_datetime(featured_data['date'])

# Verify the first few rows of the datasets
print(featured_data[['date', 'home_team', 'away_team']].head())
print(odds_data[['date', 'home_team', 'away_team']].head())

        date       home_team      away_team
0 2019-08-09       liverpool   norwich city
1 2019-08-10     bournemouth  sheffield utd
2 2019-08-10         burnley    southampton
3 2019-08-10  crystal palace        everton
4 2019-08-10       tottenham    aston villa
        date       home_team        away_team
0 2017-08-11         arsenal   leicester city
1 2017-08-12        brighton  manchester city
2 2017-08-12         chelsea          burnley
3 2017-08-12  crystal palace     huddersfield
4 2017-08-12         everton            Stoke

In [11]:

# Now try merging the datasets again
merged_data = pd.merge(
    featured_data,
    odds_data,
    how='inner',  # or 'left' depending on your needs
    on=['date', 'home_team', 'away_team']
)

# Display the merged dataset
print("Merged Data:")
merged_data

Merged Data:

,season,week,date,home_team,home_xg,score,away_xg,away_team,referee,game_id,...,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,1920,1,2019-08-09,liverpool,1.8,4-1,0.9,norwich city,Michael Oliver,928467bd,...,18.05,1.12,8.5,21.00,1.14,9.50,23.00,1.14,10.43,19.63
1,1920,1,2019-08-10,bournemouth,1.3,1-1,1.3,sheffield utd,Kevin Friend,d402cacd,...,3.90,2.00,3.5,3.80,2.00,3.60,4.00,1.98,3.67,4.06
2,1920,1,2019-08-10,burnley,0.9,3-0,1.2,southampton,Graham Scott,34b99058,...,2.81,2.70,3.2,2.75,2.70,3.30,2.80,2.71,3.19,2.90
3,1920,1,2019-08-10,crystal palace,0.9,0-0,1.1,everton,Jonathan Moss,a802f51e,...,2.39,3.10,3.3,2.35,3.20,3.30,2.45,3.37,3.45,2.27
4,1920,1,2019-08-10,tottenham,2.4,3-1,0.7,aston villa,Chris Kavanagh,404ee5d3,...,10.96,1.29,5.5,10.00,1.30,5.50,12.00,1.39,5.35,8.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2324,38,2024-05-19,crystal palace,2.5,5-0,0.9,aston villa,Darren Bond,c975c7a6,...,3.74,1.85,4.2,3.50,1.80,4.00,3.70,1.63,4.64,4.99
1896,2324,38,2024-05-19,liverpool,4.5,2-0,0.5,wolves,Chris Kavanagh,d4823ed5,...,13.56,1.14,8.5,15.00,1.13,8.00,15.00,1.13,10.69,16.27
1897,2324,38,2024-05-19,luton town,2.0,2-4,1.1,fulham,Matt Donohue,0fde9d70,...,2.26,2.80,4.0,2.20,2.88,3.75,2.20,3.11,3.99,2.19
1898,2324,38,2024-05-19,manchester city,1.9,3-1,0.4,west ham,John Brooks,29335211,...,20.39,1.07,12.0,21.00,1.07,10.50,22.00,1.07,15.01,27.84
1899,2324,38,2024-05-19,sheffield utd,1.0,0-3,3.1,tottenham,Andy Madley,273a89b4,...,1.35,7.50,6.0,1.30,7.50,5.75,1.30,7.99,6.11,1.35

In [12]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   season                          1900 non-null   int64
 1   week                            1900 non-null   int64
 2   date                            1900 non-null   datetime64[ns]
 3   home_team                       1900 non-null   object
 4   home_xg                         1900 non-null   float64
 5   score                           1900 non-null   object
 6   away_xg                         1900 non-null   float64
 7   away_team                       1900 non-null   object
 8   referee                         1900 non-null   object
 9   game_id                         1900 non-null   object
 10  home_team_elo                   1900 non-null   float64
 11  away_team_elo                   1900 non-null   float64
 12  home_starters                   1900 non-null   object
 13  away_starters                   1900 non-null   object
 14  home_team_strength              1900 non-null   float64
 15  away_team_strength              1900 non-null   float64
 16  home_xG_to_date                 1900 non-null   float64
 17  away_xG_to_date                 1900 non-null   float64
 18  home_xG_against_to_date         1900 non-null   float64
 19  away_xG_against_to_date         1900 non-null   float64
 20  home_goals_scored               1900 non-null   int64
 21  away_goals_scored               1900 non-null   int64
 22  home_goals_scored_to_date       1900 non-null   int64
 23  away_goals_scored_to_date       1900 non-null   int64
 24  home_goals_conceded_to_date     1900 non-null   int64
 25  away_goals_conceded_to_date     1900 non-null   int64
 26  home_match_points               1900 non-null   int64
 27  away_match_points               1900 non-null   int64
 28  home_points_to_date             1900 non-null   int64
 29  away_points_to_date             1900 non-null   int64
 30  home_form                       1900 non-null   float64
 31  away_form                       1900 non-null   float64
 32  match_result                    1900 non-null   int64
 33  League Division                 1900 non-null   object
 34  Home Team                       1900 non-null   object
 35  Away Team                       1900 non-null   object
 36  Bet365 Home Win Odds            1900 non-null   float64
 37  Bet365 Draw Odds                1900 non-null   float64
 38  Bet365 Away Win Odds            1900 non-null   float64
 39  Pinnacle Home Win Odds          1900 non-null   float64
 40  Pinnacle Draw Odds              1900 non-null   float64
 41  Pinnacle Away Win Odds          1900 non-null   float64
 42  William Hill Home Win Odds      1900 non-null   float64
 43  William Hill Draw Odds          1900 non-null   float64
 44  William Hill Away Win Odds      1900 non-null   float64
 45  VC Bet Home Win Odds            1900 non-null   float64
 46  VC Bet Draw Odds                1900 non-null   float64
 47  VC Bet Away Win Odds            1900 non-null   float64
 48  Pinnacle Closing Home Win Odds  1900 non-null   float64
 49  Pinnacle Closing Draw Odds      1900 non-null   float64
 50  Pinnacle Closing Away Win Odds  1900 non-null   float64
dtypes: datetime64[ns](1), float64(27), int64(13), object(10)
memory usage: 757.2+ KB

In [13]:
merged_data.columns

Index(['season', 'week', 'date', 'home_team', 'home_xg', 'score', 'away_xg',
       'away_team', 'referee', 'game_id', 'home_team_elo', 'away_team_elo',
       'home_starters', 'away_starters', 'home_team_strength',
       'away_team_strength', 'home_xG_to_date', 'away_xG_to_date',
       'home_xG_against_to_date', 'away_xG_against_to_date',
       'home_goals_scored', 'away_goals_scored', 'home_goals_scored_to_date',
       'away_goals_scored_to_date', 'home_goals_conceded_to_date',
       'away_goals_conceded_to_date', 'home_match_points', 'away_match_points',
       'home_points_to_date', 'away_points_to_date', 'home_form', 'away_form',
       'match_result', 'League Division', 'Home Team', 'Away Team',
       'Bet365 Home Win Odds', 'Bet365 Draw Odds', 'Bet365 Away Win Odds',
       'Pinnacle Home Win Odds', 'Pinnacle Draw Odds',
       'Pinnacle Away Win Odds', 'William Hill Home Win Odds',
       'William Hill Draw Odds', 'William Hill Away Win Odds',
       'VC Bet Home Win Odds', 'VC Bet Draw Odds', 'VC Bet Away Win Odds',
       'Pinnacle Closing Home Win Odds', 'Pinnacle Closing Draw Odds',
       'Pinnacle Closing Away Win Odds'],
      dtype='object')

In [14]:
# List of columns to be removed
columns_to_remove = [
    'Bet365 Home Win Odds', 'Bet365 Draw Odds', 'Bet365 Away Win Odds',
    'Pinnacle Home Win Odds', 'Pinnacle Draw Odds', 'Pinnacle Away Win Odds',
    'William Hill Home Win Odds', 'William Hill Draw Odds', 'William Hill Away Win Odds',
    'VC Bet Home Win Odds', 'VC Bet Draw Odds', 'VC Bet Away Win Odds'
]

# Drop the specified columns from the merged dataset
merged_data_cleaned = merged_data.drop(columns=columns_to_remove)

# Verify the columns have been removed
print("Columns after removal:")
print(merged_data_cleaned.columns)

Columns after removal:
Index(['season', 'week', 'date', 'home_team', 'home_xg', 'score', 'away_xg',
       'away_team', 'referee', 'game_id', 'home_team_elo', 'away_team_elo',
       'home_starters', 'away_starters', 'home_team_strength',
       'away_team_strength', 'home_xG_to_date', 'away_xG_to_date',
       'home_xG_against_to_date', 'away_xG_against_to_date',
       'home_goals_scored', 'away_goals_scored', 'home_goals_scored_to_date',
       'away_goals_scored_to_date', 'home_goals_conceded_to_date',
       'away_goals_conceded_to_date', 'home_match_points', 'away_match_points',
       'home_points_to_date', 'away_points_to_date', 'home_form', 'away_form',
       'match_result', 'League Division', 'Home Team', 'Away Team',
       'Pinnacle Closing Home Win Odds', 'Pinnacle Closing Draw Odds',
       'Pinnacle Closing Away Win Odds'],
      dtype='object')

In [15]:
csv_file_path = '/Users/lkimball/Desktop/Flatiron/CapstoneProject/EPL_Updated.csv'
merged_data_cleaned.to_csv(csv_file_path, index=False)

## OLD WORK ##

In [60]:
import pandas as pd

In [61]:
epl_data_featured = pd.read_csv('EPL_Data_featured.csv')

epl_odds_data = pd.read_csv('Odds_data/EPL_Odds_data.csv')

In [62]:
epl_data_featured.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   week                         2280 non-null   int64
 1   date                         2280 non-null   object
 2   home_team                    2280 non-null   object
 3   home_xg                      2280 non-null   float64
 4   score                        2280 non-null   object
 5   away_xg                      2280 non-null   float64
 6   away_team                    2280 non-null   object
 7   referee                      2280 non-null   object
 8   game_id                      2280 non-null   object
 9   home_team_elo                2280 non-null   float64
 10  away_team_elo                2280 non-null   float64
 11  season                       2280 non-null   int64
 12  home_xG_to_date              2280 non-null   float64
 13  away_xG_to_date              2280 non-null   float64
 14  home_xG_against_to_date      2280 non-null   float64
 15  away_xG_against_to_date      2280 non-null   float64
 16  home_goals_scored            2280 non-null   int64
 17  away_goals_scored            2280 non-null   int64
 18  home_goals_scored_to_date    2280 non-null   int64
 19  away_goals_scored_to_date    2280 non-null   int64
 20  home_goals_conceded_to_date  2280 non-null   int64
 21  away_goals_conceded_to_date  2280 non-null   int64
 22  home_match_points            2280 non-null   int64
 23  away_match_points            2280 non-null   int64
 24  home_points_to_date          2280 non-null   int64
 25  away_points_to_date          2280 non-null   int64
 26  home_form                    2280 non-null   float64
 27  away_form                    2280 non-null   float64
 28  match_result                 2280 non-null   int64
dtypes: float64(10), int64(13), object(6)
memory usage: 516.7+ KB

In [63]:
epl_odds_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   League Division                 2660 non-null   object
 1   Match Date                      2660 non-null   object
 2   Home Team                       2660 non-null   object
 3   Away Team                       2660 non-null   object
 4   Bet365 Home Win Odds            2660 non-null   float64
 5   Bet365 Draw Odds                2660 non-null   float64
 6   Bet365 Away Win Odds            2660 non-null   float64
 7   Pinnacle Home Win Odds          2660 non-null   float64
 8   Pinnacle Draw Odds              2660 non-null   float64
 9   Pinnacle Away Win Odds          2660 non-null   float64
 10  William Hill Home Win Odds      2660 non-null   float64
 11  William Hill Draw Odds          2660 non-null   float64
 12  William Hill Away Win Odds      2660 non-null   float64
 13  VC Bet Home Win Odds            2660 non-null   float64
 14  VC Bet Draw Odds                2660 non-null   float64
 15  VC Bet Away Win Odds            2660 non-null   float64
 16  Pinnacle Closing Home Win Odds  2660 non-null   float64
 17  Pinnacle Closing Draw Odds      2660 non-null   float64
 18  Pinnacle Closing Away Win Odds  2660 non-null   float64
dtypes: float64(15), object(4)
memory usage: 395.0+ KB

In [64]:
epl_odds_data.head()

,League Division,Match Date,Home Team,Away Team,Bet365 Home Win Odds,Bet365 Draw Odds,Bet365 Away Win Odds,Pinnacle Home Win Odds,Pinnacle Draw Odds,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,E0,11/08/2017,Arsenal,Leicester,1.53,4.5,6.50,1.53,4.55,6.85,1.53,4.2,6.00,1.53,4.50,6.50,1.49,4.73,7.25
1,E0,12/08/2017,Brighton,Man City,11.00,5.5,1.33,10.95,5.55,1.34,10.00,4.8,1.33,10.00,5.50,1.33,11.75,6.15,1.29
2,E0,12/08/2017,Chelsea,Burnley,1.25,6.5,15.00,1.26,6.30,15.25,1.25,5.5,13.00,1.25,6.25,15.00,1.33,5.40,12.25
3,E0,12/08/2017,Crystal Palace,Huddersfield,1.83,3.6,5.00,1.83,3.58,5.11,1.80,3.3,5.00,1.83,3.60,5.00,1.79,3.56,5.51
4,E0,12/08/2017,Everton,Stoke,1.70,3.8,5.75,1.70,3.83,5.81,1.70,3.5,5.50,1.70,3.80,5.75,1.82,3.49,5.42

In [65]:
epl_odds_data.tail()

,League Division,Match Date,Home Team,Away Team,Bet365 Home Win Odds,Bet365 Draw Odds,Bet365 Away Win Odds,Pinnacle Home Win Odds,Pinnacle Draw Odds,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
2655,E0,19/05/2024,Crystal Palace,Aston Villa,1.85,4.33,3.60,1.83,4.37,3.74,1.85,4.2,3.5,1.80,4.00,3.7,1.63,4.64,4.99
2656,E0,19/05/2024,Liverpool,Wolves,1.17,8.00,15.00,1.16,9.27,13.56,1.14,8.5,15.0,1.13,8.00,15.0,1.13,10.69,16.27
2657,E0,19/05/2024,Luton,Fulham,2.90,3.90,2.20,2.93,3.92,2.26,2.80,4.0,2.2,2.88,3.75,2.2,3.11,3.99,2.19
2658,E0,19/05/2024,Man City,West Ham,1.08,12.00,21.00,1.09,13.11,20.39,1.07,12.0,21.0,1.07,10.50,22.0,1.07,15.01,27.84
2659,E0,19/05/2024,Sheffield United,Tottenham,7.00,6.00,1.33,7.16,6.00,1.35,7.50,6.0,1.3,7.50,5.75,1.3,7.99,6.11,1.35

In [66]:
epl_data_featured.head()

,week,date,home_team,home_xg,score,away_xg,away_team,referee,game_id,home_team_elo,...,away_goals_scored_to_date,home_goals_conceded_to_date,away_goals_conceded_to_date,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result
0,1,2018-08-10,manchester utd,1.5,2-1,1.8,leicester city,Andre Marriner,3ae83896,1884.934448,...,0,0,0,3,0,0,0,0.0,0.0,0
1,1,2018-08-11,bournemouth,2.2,2-0,1.4,cardiff city,Kevin Friend,352f5574,1673.780518,...,0,0,0,3,0,0,0,0.0,0.0,0
2,1,2018-08-11,fulham,0.7,0-2,1.0,crystal palace,Mike Dean,30875601,1633.799683,...,0,0,0,0,3,0,0,0.0,0.0,2
3,1,2018-08-11,huddersfield,0.3,0-3,1.9,chelsea,Chris Kavanagh,d82a37a7,1567.101318,...,0,0,0,0,3,0,0,0.0,0.0,2
4,1,2018-08-11,newcastle utd,1.0,1-2,2.0,tottenham,Martin Atkinson,dce15e01,1670.871338,...,0,0,0,0,3,0,0,0.0,0.0,2

In [67]:
epl_data_featured.tail()

,week,date,home_team,home_xg,score,away_xg,away_team,referee,game_id,home_team_elo,...,away_goals_scored_to_date,home_goals_conceded_to_date,away_goals_conceded_to_date,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result
2275,38,2024-05-19,crystal palace,2.5,5-0,0.9,aston villa,Darren Bond,c975c7a6,1742.560303,...,76,58,56,3,0,46,68,2.6,1.6,0
2276,38,2024-05-19,liverpool,4.5,2-0,0.5,wolves,Chris Kavanagh,d4823ed5,1897.319702,...,50,41,63,3,0,79,46,1.6,0.6,0
2277,38,2024-05-19,luton town,2.0,2-4,1.1,fulham,Matt Donohue,0fde9d70,1572.322388,...,51,81,59,0,3,26,44,0.2,1.0,2
2278,38,2024-05-19,manchester city,1.9,3-1,0.4,west ham,John Brooks,29335211,2048.724609,...,59,33,71,3,0,88,52,3.0,0.8,0
2279,38,2024-05-19,sheffield utd,1.0,0-3,3.1,tottenham,Andy Madley,273a89b4,1522.744995,...,71,101,61,0,3,16,63,0.0,0.6,2

In [68]:
# List of columns to retain (Pinnacle Closing Odds)
columns_to_retain = ['Pinnacle Closing Home Win Odds',	'Pinnacle Closing Draw Odds',
                     'Pinnacle Closing Away Win Odds', 'Match Date','Home Team',	'Away Team']

# Dropping all other columns except the ones specified
epl_odds_data = epl_odds_data[columns_to_retain]

In [69]:
# Standardizing the column names and date format in both datasets
# Renaming the columns in odds_df to match games_to_date_df
epl_odds_data.rename(columns={'Home Team': 'home_team', 'Away Team': 'away_team', 'Match Date': 'date'}, inplace=True)

In [70]:
# Converting the date format in odds_df to match games_to_date_df
epl_odds_data['date'] = pd.to_datetime(epl_odds_data['date'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')

In [71]:
# Ensuring the 'date' column in both datasets is of the same data type
epl_data_featured['date'] = pd.to_datetime(epl_data_featured['date'])
epl_odds_data['date'] = pd.to_datetime(epl_odds_data['date'])

In [72]:
# Extracting unique team names from both datasets
unique_teams_games = set(epl_data_featured['home_team'].unique()).union(set(epl_data_featured['away_team'].unique()))
unique_teams_odds = set(epl_odds_data['home_team'].unique()).union(set(epl_odds_data['away_team'].unique()))

# Identifying the differences
teams_difference = (unique_teams_games.symmetric_difference(unique_teams_odds))

unique_teams_games, unique_teams_odds, teams_difference

({'arsenal',
  'aston villa',
  'bournemouth',
  'brentford',
  'brighton',
  'burnley',
  'cardiff city',
  'chelsea',
  'crystal palace',
  'everton',
  'fulham',
  'huddersfield',
  'leeds united',
  'leicester city',
  'liverpool',
  'luton town',
  'manchester city',
  'manchester utd',
  'newcastle utd',
  'norwich city',
  "nott'ham forest",
  'sheffield utd',
  'southampton',
  'tottenham',
  'watford',
  'west brom',
  'west ham',
  'wolves'},
 {'Arsenal',
  'Aston Villa',
  'Bournemouth',
  'Brentford',
  'Brighton',
  'Burnley',
  'Cardiff',
  'Chelsea',
  'Crystal Palace',
  'Everton',
  'Fulham',
  'Huddersfield',
  'Leeds',
  'Leicester',
  'Liverpool',
  'Luton',
  'Man City',
  'Man United',
  'Newcastle',
  'Norwich',
  "Nott'm Forest",
  'Sheffield United',
  'Southampton',
  'Stoke',
  'Swansea',
  'Tottenham',
  'Watford',
  'West Brom',
  'West Ham',
  'Wolves'},
 {'Arsenal',
  'Aston Villa',
  'Bournemouth',
  'Brentford',
  'Brighton',
  'Burnley',
  'Cardiff',
  'Chelsea',
  'Crystal Palace',
  'Everton',
  'Fulham',
  'Huddersfield',
  'Leeds',
  'Leicester',
  'Liverpool',
  'Luton',
  'Man City',
  'Man United',
  'Newcastle',
  'Norwich',
  "Nott'm Forest",
  'Sheffield United',
  'Southampton',
  'Stoke',
  'Swansea',
  'Tottenham',
  'Watford',
  'West Brom',
  'West Ham',
  'Wolves',
  'arsenal',
  'aston villa',
  'bournemouth',
  'brentford',
  'brighton',
  'burnley',
  'cardiff city',
  'chelsea',
  'crystal palace',
  'everton',
  'fulham',
  'huddersfield',
  'leeds united',
  'leicester city',
  'liverpool',
  'luton town',
  'manchester city',
  'manchester utd',
  'newcastle utd',
  'norwich city',
  "nott'ham forest",
  'sheffield utd',
  'southampton',
  'tottenham',
  'watford',
  'west brom',
  'west ham',
  'wolves'})

In [73]:
# Creating a mapping dictionary for team names
team_name_mapping = {
    "Manchester City": "Man City",
    "Manchester Utd": "Man United",
    "Newcastle Utd": "Newcastle",
    "Nott'ham Forest": "Nott'm Forest",
    "Sheffield Utd": "Sheffield United",
    "Luton Town": "Luton"
}

# Inverting the team_name_mapping to apply names from 'df' (formerly 'games_to_date_df') to 'odds_df'
inverted_team_name_mapping = {v: k for k, v in team_name_mapping.items()}

# Applying the inverted mapping to the 'odds_df' dataset
epl_odds_data['home_team'] = epl_odds_data['home_team'].replace(inverted_team_name_mapping)
epl_odds_data['away_team'] = epl_odds_data['away_team'].replace(inverted_team_name_mapping)

# Verifying the changes by listing unique team names again
unique_teams_df = set(epl_data_featured['home_team'].unique()).union(set(epl_data_featured['away_team'].unique()))
unique_teams_odds_after_mapping = set(epl_odds_data['home_team'].unique()).union(set(epl_odds_data['away_team'].unique()))

unique_teams_df, unique_teams_odds_after_mapping

({'arsenal',
  'aston villa',
  'bournemouth',
  'brentford',
  'brighton',
  'burnley',
  'cardiff city',
  'chelsea',
  'crystal palace',
  'everton',
  'fulham',
  'huddersfield',
  'leeds united',
  'leicester city',
  'liverpool',
  'luton town',
  'manchester city',
  'manchester utd',
  'newcastle utd',
  'norwich city',
  "nott'ham forest",
  'sheffield utd',
  'southampton',
  'tottenham',
  'watford',
  'west brom',
  'west ham',
  'wolves'},
 {'Arsenal',
  'Aston Villa',
  'Bournemouth',
  'Brentford',
  'Brighton',
  'Burnley',
  'Cardiff',
  'Chelsea',
  'Crystal Palace',
  'Everton',
  'Fulham',
  'Huddersfield',
  'Leeds',
  'Leicester',
  'Liverpool',
  'Luton Town',
  'Manchester City',
  'Manchester Utd',
  'Newcastle Utd',
  'Norwich',
  "Nott'ham Forest",
  'Sheffield Utd',
  'Southampton',
  'Stoke',
  'Swansea',
  'Tottenham',
  'Watford',
  'West Brom',
  'West Ham',
  'Wolves'})

In [74]:
# Converting the 'home_team' and 'away_team' columns to lowercase
epl_odds_data['home_team'] = epl_odds_data['home_team'].str.lower()
epl_odds_data['away_team'] = epl_odds_data['away_team'].str.lower()

epl_odds_data

,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds,date,home_team,away_team
0,1.49,4.73,7.25,2017-08-11,arsenal,leicester
1,11.75,6.15,1.29,2017-08-12,brighton,manchester city
2,1.33,5.40,12.25,2017-08-12,chelsea,burnley
3,1.79,3.56,5.51,2017-08-12,crystal palace,huddersfield
4,1.82,3.49,5.42,2017-08-12,everton,stoke
...,...,...,...,...,...,...
2655,1.63,4.64,4.99,2024-05-19,crystal palace,aston villa
2656,1.13,10.69,16.27,2024-05-19,liverpool,wolves
2657,3.11,3.99,2.19,2024-05-19,luton town,fulham
2658,1.07,15.01,27.84,2024-05-19,manchester city,west ham
2659,7.99,6.11,1.35,2024-05-19,sheffield utd,tottenham

In [75]:
# Concatenating the datasets again with standardized team names
df = pd.merge(epl_data_featured, epl_odds_data, on=['home_team', 'away_team', 'date'], how='inner')

# Displaying the first few rows of the concatenated dataframe
df.head()

,week,date,home_team,home_xg,score,away_xg,away_team,referee,game_id,home_team_elo,...,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,1,2018-08-11,fulham,0.7,0-2,1.0,crystal palace,Mike Dean,30875601,1633.799683,...,0,3,0,0,0.0,0.0,2,2.62,3.38,2.90
1,1,2018-08-11,huddersfield,0.3,0-3,1.9,chelsea,Chris Kavanagh,d82a37a7,1567.101318,...,0,3,0,0,0.0,0.0,2,7.24,3.95,1.58
2,1,2018-08-11,newcastle utd,1.0,1-2,2.0,tottenham,Martin Atkinson,dce15e01,1670.871338,...,0,3,0,0,0.0,0.0,2,4.74,3.53,1.89
3,1,2018-08-11,watford,1.2,2-0,0.3,brighton,Jonathan Moss,b3a7c703,1626.435303,...,3,0,0,0,0.0,0.0,0,2.58,3.08,3.22
4,1,2018-08-11,wolves,1.0,2-2,1.0,everton,Craig Pawson,8dc8eaeb,1593.079102,...,1,1,0,0,0.0,0.0,1,2.44,3.23,3.32

In [76]:
# Concatenating the DataFrames by columns
df = pd.concat([epl_odds_data, epl_data_featured], axis=1)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Pinnacle Closing Home Win Odds  2660 non-null   float64
 1   Pinnacle Closing Draw Odds      2660 non-null   float64
 2   Pinnacle Closing Away Win Odds  2660 non-null   float64
 3   date                            2660 non-null   datetime64[ns]
 4   home_team                       2660 non-null   object
 5   away_team                       2660 non-null   object
 6   week                            2280 non-null   float64
 7   date                            2280 non-null   datetime64[ns]
 8   home_team                       2280 non-null   object
 9   home_xg                         2280 non-null   float64
 10  score                           2280 non-null   object
 11  away_xg                         2280 non-null   float64
 12  away_team                       2280 non-null   object
 13  referee                         2280 non-null   object
 14  game_id                         2280 non-null   object
 15  home_team_elo                   2280 non-null   float64
 16  away_team_elo                   2280 non-null   float64
 17  season                          2280 non-null   float64
 18  home_xG_to_date                 2280 non-null   float64
 19  away_xG_to_date                 2280 non-null   float64
 20  home_xG_against_to_date         2280 non-null   float64
 21  away_xG_against_to_date         2280 non-null   float64
 22  home_goals_scored               2280 non-null   float64
 23  away_goals_scored               2280 non-null   float64
 24  home_goals_scored_to_date       2280 non-null   float64
 25  away_goals_scored_to_date       2280 non-null   float64
 26  home_goals_conceded_to_date     2280 non-null   float64
 27  away_goals_conceded_to_date     2280 non-null   float64
 28  home_match_points               2280 non-null   float64
 29  away_match_points               2280 non-null   float64
 30  home_points_to_date             2280 non-null   float64
 31  away_points_to_date             2280 non-null   float64
 32  home_form                       2280 non-null   float64
 33  away_form                       2280 non-null   float64
 34  match_result                    2280 non-null   float64
dtypes: datetime64[ns](2), float64(26), object(7)
memory usage: 727.5+ KB

In [78]:
# Drop the specified columns
df_final = df

In [79]:
df.head()

,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds,date,home_team,away_team,week,date,home_team,home_xg,...,away_goals_scored_to_date,home_goals_conceded_to_date,away_goals_conceded_to_date,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result
0,1.49,4.73,7.25,2017-08-11,arsenal,leicester,1.0,2018-08-10,manchester utd,1.5,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11.75,6.15,1.29,2017-08-12,brighton,manchester city,1.0,2018-08-11,bournemouth,2.2,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.33,5.40,12.25,2017-08-12,chelsea,burnley,1.0,2018-08-11,fulham,0.7,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0
3,1.79,3.56,5.51,2017-08-12,crystal palace,huddersfield,1.0,2018-08-11,huddersfield,0.3,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0
4,1.82,3.49,5.42,2017-08-12,everton,stoke,1.0,2018-08-11,newcastle utd,1.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0

In [80]:
df.tail()

,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds,date,home_team,away_team,week,date,home_team,home_xg,...,away_goals_scored_to_date,home_goals_conceded_to_date,away_goals_conceded_to_date,home_match_points,away_match_points,home_points_to_date,away_points_to_date,home_form,away_form,match_result
2655,1.63,4.64,4.99,2024-05-19,crystal palace,aston villa,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2656,1.13,10.69,16.27,2024-05-19,liverpool,wolves,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2657,3.11,3.99,2.19,2024-05-19,luton town,fulham,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2658,1.07,15.01,27.84,2024-05-19,manchester city,west ham,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2659,7.99,6.11,1.35,2024-05-19,sheffield utd,tottenham,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
#csv_file_path = '/Users/lkimball/Desktop/Flatiron/CapstoneProject/EPL_Updated.csv'
#df_final.to_csv(csv_file_path, index=False)